
* {margin: 0;
    padding: 0;
    box-sizing: border-box;
    
 }
 
 @media screen and (max-width: 570px) {
      body {
           
           display: none;
      }   
 }
 
 /* FONTS */
 
 @font-face {
      font-family: titulo;
      src: url(../ASSETS/FONTS/EBGaramond-ExtraBoldItalic.ttf);
 }
 
 @font-face {
      font-family: menu;
      src: url(../ASSETS/FONTS/NotoSerifToto-Bold.ttf);
 }
 
 @font-face {
      font-family:mayusculabold ;
      src: url(../ASSETS/FONTS/Domine-Bold.ttf);
 }
 
 @font-face {
      font-family:mayusculasemibold ;
      src: url(../ASSETS/FONTS/Domine-SemiBold.ttf);
 }
 
 @font-face {
      font-family:minusculalight ;
      src: url(../ASSETS/FONTS/Literata-Light.ttf);
 }
 
 @font-face {
      font-family:minusculasemibold ;
      src: url(../ASSETS/FONTS/Literata-SemiBold.ttf);
 }
 
 @font-face {
      font-family:minusculabold ;
      src: url(../ASSETS/FONTS/Literata-Bold.ttf);
 }
 
 
 
 /* CSS INDEX MOBILE */
 
 
 @media screen and (min-width: 571px) {
 
      #titulodesktop {
           display: none;
      }
      
      .textoYlogo {
           display: none;
      }
      
      body {
           width: 100%;
           height: 100vh;
           
      }
      
      .gridContainer {
           display: grid;
           grid-template-columns: repeat(6, 1fr);
           grid-template-rows: 15vh 1fr 15vh;
      }
      
      header {
           width: 100%;
           grid-column: 1 / 7;
           background-image: linear-gradient(to right , #d90429 , #2b2d42);
          
           
           
      }
      
      .gridContainer__items {
           display: grid;
           grid-template-columns: repeat(3, 1fr);
           grid-template-rows: repeat(2, 1fr);
           
      }
      
      .gridContainer__items h1 {
           font-family: titulo;
           grid-column: 2 / 3;
           justify-self: center;
           font-size: 2.2rem;
           padding: 10px;
           color:#2b2d42;
           
      
                 
      }
 
      
      span {
           color: #edf2f4 ;
      }
      
      
      
      
      
      .gridContainer__items #shop {
           width: 50px;
           height: 50px;
           padding: 10px;
           justify-self: end;
           color: #edf2f4;
           font-size: 28px;
           margin: 10px;
           
           
      }
      
      .gridContainer__items #btnmenu {
           margin: 10px;
           padding: 10px;
           grid-row: 1 / 2;
           color: #edf2f4;
           font-size: 30px;
           width: 1px;
           height: 1px;
           position: relative;
           bottom: 53px;
           
           
      }
      
      
      
      .menuResponsive__ul {
           position: absolute;
           background-color:transparent;
           top: 50px;
              
      }
      
      
      
      .menuResponsive__li-container {
           display:none;    
           
      }
      
 
      .menuResponsive__ul:hover > .menuResponsive__li-container {
           font-family: menu;
           display: block;
           width: 40vw;
           position: relative;
           bottom: 30px;
           list-style-type: none;
           background-image: linear-gradient(to right , #d90427 , #2b2d42);
           border-radius: 20px;
           
           
      }
      
      
      
      .menuResponsive__li-container i {
           color: #edf2f4;
           padding: 10px;
           text-align:start;
           width: 40px;
           margin-left: 12px;
            
           
      }
      
      
      
      .menuResponsive__li a {
           text-decoration: none;
           justify-content: flex-start;
           color: #edf2f4;
           margin-left: 5px;
 
    
      }
      
      
      .gridContainer__items #search {
           
           grid-column:1 / 4 ;
           padding: 10px;
           justify-self: center;
           
      }
 
 
      .buscadorMobile {
           outline: none;
           background-color: transparent;
           border: none;
           border-bottom:#d90427b4 solid 1px;
           color: #edf2f4;
           transition-property: all;
           transition-duration: 1s;
      }
 
 
      .buscadorMobile:hover {
           border-bottom:#edf2f4 solid 1px;
      }
 
 
      .buscadorMobile:focus {
           border-bottom:#edf2f4 solid 1px;
      }
 
 
      .buscadorMobile__input {
           background-color: transparent;
           border: none;
      }
 
 
      #search i {
           color: #edf2f4;
      }
      
      
      
      main {
           background-color:rgb(255, 255, 255);
           grid-column: 1 / 7;
              
      }
         
      
       .ofertasSemanales {
               font-family: minusculabold;
               text-align: center;
               background-image: linear-gradient(to right , #d90429 , #2b2d42);
               width: 100%;
               color: #edf2f4;
      }
        
      
      section {
               
               display: flex;
               flex-direction: column;
               align-items: center;
               
               
      }
       
      
      section article {
               font-family: minusculasemibold;
               width: 60vw;
               max-width: 600px;
               margin: 20px;  
               text-align: center;
               transition-property:all;
               transition-duration: 1s;
               box-shadow: 2px 4px 15px 1px #2b2d42;
      }
          
      
          
           section article p {
               text-align: center;
      }
        
      
           section span {
               color: #a30479;
               font-size: 1.5rem;
               font-weight: bold;
      }
          
          
          section img {
               width: 200px;
               height: 200px;
               
      }
 
 
      section article:hover {
           transform: scale(105%);
            
  
     }
 
      section article span {
           transition-property: all;
           transition-duration: 2s;
     }
 
      section article:hover span {
           color:#d90429;
       
     }
          
          
                  
          
      footer {
               font-family: minusculalight;
               padding: 3px;
               display: flex;
               justify-content: space-evenly;
               background-image: linear-gradient(to right , #d90429 , #2b2d42);
               grid-column: 1 / 7;
               color: #edf2f4;
               
      }
        
      
      footer p {
               text-decoration: underline;
      }
        
      
      footer a {
               text-decoration: none;
               display: block;
               color: #edf2f4;
               padding: 1px;
               margin-left: 5px;
               
      }
 
 
      footer a {
               transition: all;
               transition-duration: .5s;
      }
      
 
      footer a:hover {
               color: #edf2f4a1;
      
      }
       
      
      .redesFooter i {
               width: 25px;
               height: 25px;
               padding: 0;
               margin-top: 10px;
               color: #edf2f4;
      }
      
 
      #menu {
               display: none;
      }     
 
 }
 
 /* FIN CCS INDEX MOBILE */
 
 
 
 
 
 
 
 
 
 
 
 /* CSS INDEX DESKTOP */
     
 
 
    @media screen and (min-width: 1399px) {
 
      
 
         .menuResponsive__ul {
           display: none;
         }
 
 
         #search {
           display: none;
         }
 
 
         .gridContainer__items .tituloMobile {
           display: none;
        }
 
 
 
         body {
           width: 100%;
           height: 100vh; 
         }
 
 
      header {
           
           background-image: linear-gradient(to right, #d90429 , #2b2d42 );
        }
 
      
 
         .gridContainer {
           display: grid;
           grid-template-columns: repeat(6, 1fr);
           grid-template-rows: 25vh auto auto 14vh; 
         }
 
 
         .gridContainer__items {
           display: grid;
           grid-template-columns: repeat(6, 1fr);
           grid-template-rows: repeat(2, 1fr);
           
         }
 
 
         .gridContainer__items #titulodesktop {
           display: block;
           font-family: titulo;
           grid-column: 1 / 4;
           grid-row: 1 / 3;
           animation-name:titulomove ;
           animation-duration: 4s;
           
         }
 
      @keyframes titulomove {
           from {
                opacity: 0;
                transform: scale(2) ;
           }
           to{
                opacity: 1;
                transform: scale(1)   ;
           }
           
         }
 
 
 
         .gridContainer__items #titulodesktop h1 {
          font-size: 7rem;
          
         }
 
 
         .tituloPrincipal {
           display: flex;
         }
 
      
         .tituloPrincipal__sub {
           color: #edf2f4;
           text-align: left;
           margin-left: 30px;
           
           
         }
 
 
         #shop {
           display: none;
         }  
 
 
         nav {
           grid-column: 4 / 7;
           grid-row: 1 / 3;
           flex-wrap: wrap;
           
         }
 
 
         nav a {
           color: #edf2f4;
         }
 
 
         .gridContainer__items .cuentaYregistro {
           display: flex;
           margin: 10px;
           justify-content: space-around;
           font-family:minusculalight;
         }
 
 
         .gridContainer__items .cuentaYregistro a {
           display: block;
           text-decoration: none;
           margin: 5px;
           transition: all;
           transition-duration: 1s;
         }
 
 
         .cuentaYregistro a:hover {
           color: #edf2f4a1;
         }
 
 
         .gridContainer__items .cuentaYregistro input {
           margin: 7px;
          
         }

         .gridContainer__items .cuentaYregistro p {
          margin-left: 5px;
          color: #edf2f4;
        }
 
 
         .formDesign {
 
           background-color: transparent;
           outline: none;
           border: none;
           border-bottom: #d90427ab solid 1px;
           color: #edf2f4;
           transition-property: all;
           transition-duration: 1s;
      
         }
 
 
         .formDesign:hover {
           border-bottom:#edf2f4 solid 1px;
         }
 
 
         .formDesign:focus {
           border-bottom:#edf2f4 solid 1px;
         }
      
   
 
         
 
 
         .desktopSearch i {
           color:#edf2f4;
           position: relative;
           right: 15px;
           
 
         }
 
 
         .desktopSearch__input {
           outline: none;
           border: none;
           
         }
 
      
 
         .desktopIn__input {
           outline: none;
           border: none;
           background-color: transparent;
           color: #edf2f4;
           text-decoration: underline;
           transition-property: all;
           transition-duration: 1s;
           
         }
 
 
         .desktopIn__input:hover {
           color:rgba(255, 255, 6, 0.713);
         }
 
 
         .iconoInput {
           color: #edf2f4;
           margin-left: 10px;
           
         }
 
 
         .ayudaYshop {
           font-size: 2rem;
           width: 100px;
           position: relative;
           top: 50px;
           right: 10px;
           color: #edf2f4;
           transition-delay: 3s;
           animation-name: slap;
           animation-duration: 5s;
           animation-timing-function: ease-in-out;
         }
 
 
      @keyframes slap {
           
       
           from {
                transform: scale(1.5) rotateY(360deg);
           }
           
           to {
                transform: scale(1) ;
           }
      
         }
 
 
         .ayudaYshop i {
           width: 30px;
           height: 30px;
           margin: 10px;
           
         }
 
 
         .ayudaYshop i:hover {
           transition-property: all;
           transition-duration: 2s ;
           color: rgba(255, 255, 6, 0.713);
         }
 
 
         .redesHeader p {
           text-decoration: underline;
         }
 
 
         .redesHeader i {
           width: 25px;
           height: 25px;
           padding: 0;
           margin-top: 10px;
           color: #edf2f4;
         }
 
 
         .menuDesktop__li {
           
           transition-property: all;
           transition-duration: 2s;
         }
 
 
         .menuDesktop__li:hover {
           transform: scale(1.1);
         }
 
 
         #menu {
           display: block;
           height: 5vh;
           border-top:#edf2f4 solid 2px;
           font-family: menu;
         }
 
 
         #menu a {
           text-decoration: none;
           margin-left: 155px;
           color: #edf2f4;
           
         }
 
 
      
 
 
      /* MENU DESPLEGABLE */
 
       #menu  ul {
      font-size: 0;
      
      }
       #menu li {
          display: inline-block;
          width: 20%;
          position:relative;
          font-size: 14px;
          padding: 5px;
      
      }
       #menu ul ul {
          position: absolute;
          display: none;      
          
      }
 
 
 
       #menu ul ul li {
          display: block;
          width: 100%;     
          
      }
 
       #menu ul li:hover ul {
          display:block;
          margin-left: 155px;
          line-height: 30px;
          margin-top: 5px;
          padding: 7px;
          background-image: linear-gradient(to right ,  #d90427bc , #2b2d42 );
          color: #edf2f4;
          border-radius: 10px;  
      }
 
 
 
 
 
       .ofertasSemanales {
          font-family: minusculabold;
          padding: 15px;
          display: flex;
          justify-content: center;
          letter-spacing: 3px;
          text-decoration: overline;
      
      }
 
   
 
  
 
      .textoYlogo {
          display: block;
          grid-column: 1 / 7;
          grid-row: 3 / 4;
      }
 
      .textoYlogo .titulo {
          font-family: menu;
          letter-spacing: 2px;
          font-size: 2.5rem;
          text-align: center;
          background-image: linear-gradient(to right, #d90429 , #2b2d42 );
          color: #edf2f4;
      }
 
      .textoYlogo img {
      
         width: 150px;
         height: 250px;
         margin: 20px;
         animation-name: logorotate;
         animation-duration: 5s;
         animation-iteration-count: infinite;
      }
 
    @keyframes logorotate {
            from {
         transform: rotateY(360deg);
            }     
 
            to {
         transform: rotateY(0);
            }
      }
 
 
 
      .logo {         
        display: flex;
        justify-content: center;
     
      
 }
 
 
 
      .textoYlogo__parrafo {         
      font-family: minusculasemibold;
      text-align: center;
      margin-top: 10px;
      padding: 20px;
      font-size: 2rem;
      color:#2b2d42
 }
 
 
 
      footer {
       grid-row: 4 / 5;
       background-image: linear-gradient(to right, #d90429 , #2b2d42 );
      
 }
 
      footer a {
       transition: all;
           transition-duration: .5s;
 }
 
      footer a:hover {
      color: #edf2f4a1;
 
 }
 
   
    }
 
 /* FIN CSS INDEX DESKTOP */
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /* CSS PÁGINA 2 "GUITARRAS" */
 
 .tituloGuitarras {
      text-align: center;
      color: #edf2f4;
      background-image: linear-gradient(to right, #d90429 , #2b2d42);
      padding: 10px;
      font-size: 2rem;
      
 
 }
 
 .guitarras h3 {
      margin: 5px;
      color: #2b2d42;
      line-height: 30px;
      transition-property: all;
      transition-duration: 2s;
 
 }
 
 
 
 
 
 
 @media screen and (min-width: 1399px) {
 
 
 
 .guitarras {
      margin: 50px;
      padding: 5px;
      width: 500px;
      height: 500px;
      transition-property: all;
      transition-duration: 2s;
 }
 
 .guitarras:hover {
      transform: scale(115%);
      font-size: 1.3rem;
      
      
      
 }
 
 .guitarras img {
      width: 400px;
      height: 400px;
 }
 
 
 
 }
 
 
 
 
 
 
 
 
 
 
 /* CSS PÁGINA 3 "SOBRE NOSOTROS" */
 
 
 
 .nosotros {
      font-family: Minusculabold;
      padding: 5px;
      background-image: linear-gradient(to right, #d90429 , #2b2d42 );
      color: #edf2f4;
      text-align: center;
      border-bottom: #edf2f4 solid 1px;
 }
 
 
 .mainContainer {
      display: flex;
      flex-direction: column;
      background-color: #2b2d42;
      color: #edf2f4;
      text-align: center;
      
 }
 
 
 .subtitle {
 font-family: minusculabold;
     padding: 20px;
 }
 
 
 .shopButton {
      width: 400px;
      align-self: center;
      margin-top: 30px;
      margin-bottom: 50px;
      background-image: linear-gradient(to bottom , #2b2d42, #d90429);
      border: none;
      color: #edf2f4;
      font-weight: bolder;
     
      
 }
 
 
 .shopButton:hover {
     
      background-image: linear-gradient(to bottom , #d90429 , #2b2d42 )
 } 
 
 
 .text {
      font-family: minusculalight;
      width: 50vw;
      align-self: center;
      text-align:center;
      padding-bottom: 10px;
      
 }
 
 
 
 @media screen and (min-width: 1399px) {
      .nosotros {
           font-size: 3rem;
      }
 
      .subtitle {
           font-size: 2rem;
           width: 50vw;
           align-self: center;
      }
 
      .shopButton {
           width: 600px;
           height: 50px;
      }
 
      .text {
           width: 30vw;
           font-size: 1.5rem;
      }
 }
 
 
 
 
 
 
 
 
 
 
 /* CSS PÁGINA 4 "CONTACTOS" */
 
 
 @media screen and (min-width: 571px) {
 
 .formImageDesktop {
      display: none;
 }
 
 
 .tituloContactanos {
      font-family: minusculabold;
      background-color: #2b2d42;
      color: #edf2f4;
      text-align: center;
      padding: 10px;
      
 }
 
 
 p {
      margin: 5px;
 }
 
 
 .formContainer {
      display: flex;
      padding: 20px;
      background-color: #2b2d42;  
      color: #edf2f4;   
      justify-content: center;
      border-bottom: #edf2f4 solid 2px;
 }
 
 
 .form__input {
      
      width: 100%;
      padding: 2px;
      margin-bottom: 25px; 
      border: none;
      outline: none;
      background-color: transparent;
      border-bottom: #d90429 solid 2px;
      color: #edf2f4;
      transition-property: all;
      transition-duration: 1s;
      
 }
 
 
 .form__input:hover {
      border-bottom:#d204d9 solid 2px
 
 }
 
 
 .form__input:focus {
 
      background: linear-gradient(to bottom, transparent, #686fbe69) ;
      border-bottom:#d204d9 solid 2px
 }
 
 
 .textArea {
      width: 100%;
      margin: 7px;
      
      
 }
 
 
 textarea {
      width: 350px;
      height: 300px;
      background-color: transparent;
      border: #d90429 solid 2px;
      outline: none;
      padding: 2px;
      color: #edf2f4;
      transition-property: all;
      transition-duration: 1s;
 }
 
 
 textarea:hover {
      border: #d204d9 solid 2px;
 }
 
 
 textarea:focus {
      background: linear-gradient(to bottom, transparent, #686fbe69) ;
      border: #d204d9 solid 2px;
 }
 
 
 .send {
      width: 100%;
      margin: 5px;
      padding: 5px;
      margin-left: 135px;
 }
 
 
 #envio {
      width: 300px;
      height: 30px;
      margin: 20px;
      position: relative;
      left: 7px;
      background-image: linear-gradient(to bottom , #2b2d42, #d90429);
      border: none;
      color: #edf2f4;
      font-weight: bolder;
 }
 
 
 
 
 .formImageMobile img {
      margin-left: 30px;
      width: 300px;
      align-items: center;
      border-radius: 50%;
 }
 
 
 .interline {
      width: 100%;
      height: 2vh;
      background-color: #edf2f4;
 }
 
 }
 
 @media screen and (min-width: 1399px ) {
 
      
 
      .interline {
           display: none;
      }
 
 
      .formImageMobile {
           display: none;
      }
 
 
      .formImageDesktop {
           display: flex;
           
      }
 
 
      .formImageDesktop img {
           width: 400px;
           height: 400px;
           border-radius: 50%;
 
      }
 
      
      .formContainer {
           justify-content: space-evenly;
           align-items: center;
           padding-left: 50px;
      }
 
 
      .form {
           width: 500px;
      }
 
 
      textarea {
           width: 490px;
      }
 
 
      .send {
           position: relative;
           left: 135px;
      }
 
 
      #envio {
           width: 445px;
      }    
 
 
      .envelopeImage {
           animation-name: envelopefx;
           animation-duration: 5s;
           animation-iteration-count: infinite;
           transition-property: all;
           transition-duration: 5s;
          
      }
 
 
      @keyframes envelopefx {
           
           from {
                transform: rotateY(360deg);
                
           }
 
           to {
                transform:  rotateY(0);
                
           }
 
      
      }
      
 }
    
 
 
 
 
 
 
 
 
 
 
 
 
 
 /* CSS PÁGINA 5 "SHOWROOM" */
 
 @media screen and (min-width: 571px) {

     .showroom__text--desktop {
          display: none;
     }


.textContainer {
     background-color: #2b2d42;
     border-top: #edf2f4 solid 2px;
     padding: 10px;
     
     color: #edf2f4;
}


.showroom {
     text-align: center;
     font-size: 5rem;
     font-family: menu;
}


.showroom__text {
     text-align: center;
     
}


.direccion {
     padding: 10px;
     background-color: #edf2f4;
     color: #2b2d42;
     font-weight: bolder;
     
}


}


@media screen and (min-width: 1399px ) {

     .textContainer {
          background-color: #edf2f4;
          color: #2b2d42;
          
     }

     .showroom__text {
          display: none;
     }

     .showroom__text--desktop {
          font-family: minusculasemibold;
          display: flex;
          width: 500px;
          align-content: center;
          position: relative;
          left: 600px;
          bottom: 600px;
          color: #2b2d42;
          font-size: 2rem;

     }


     .showroom {
          font-family: minusculabold;
          text-align: start;
          font-size: 5rem;
     }


     .gps {
          box-shadow: 2px 4px 15px 1px #2b2d42;
          
     }
 

}