
@include mobile {

   /*  .showroom__text--desktop {
         display: none;
    }
 */

 .showroom {
    font-family: menu;
    font-size: 1.5rem;
    border-top: $white solid 2px;
    padding: 10px;
    text-align: center;
    background-color: $darkblue;
    color: $white;    
    
}

.textContainer {
    
    font-family: menu;
    font-size: 1rem;
    background-color: $darkblue;
    border-top: $white solid 2px;
    padding: 10px;
    color: $white;

    .showroom__text {
        margin: 10px;
        text-align: center;
        line-height: 30px;
        min-width: 555px;
    
        
    }
    
}



.direccionContainer {
    display: flex;
    flex-direction: column;
    background-color: $white;

    .gps {
        margin: 30px;
        box-shadow: 2px 4px 15px 1px #2b2d42;   
    }

    .direccion {
        font-family:menu;
        font-size: 1.5rem;
        margin: 30px;
        font-weight: bold;
        color: #2b2d42;
        text-align: center;
    }
    
    
    
}

}


@include desktop {

    .textContainer {
         background-color: $white;
         color: $darkblue
         
    }

    .showroom__text {
         display: none;
    }

    .showroom__text--desktop {
         font-family: minusculasemibold;
         display: flex;
         width: 500px;
         align-content: center;
         position: relative;
         left: 600px;
         bottom: 600px;
         color: $darkblue;
         font-size: 2rem;

    }


    .showroom {
         font-family: minusculabold;
         text-align: start;
         font-size: 5rem;
    }


    .gps {
         box-shadow: 2px 4px 15px 1px $darkblue;
         
    }


}