
@include mobile {



 .showroom {
    font-family: menu;
    font-size: 1.5rem;
    border-top: $white solid 2px;
    padding: 10px;
    text-align: center;
    background-color: $darkblue;
    color: $white;    
    
}

.textContainer {
    
    font-family: menu;
    font-size: 1rem;
    background-color: $darkblue;
    border-top: $white solid 2px;
    padding: 10px;
    color: $white;

    .showroom__text {
        margin: 10px;
        text-align: center;
        line-height: 30px;
        min-width: 555px;
    
        
    }
    
}



.direccionContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: $white;

    .gps {
        max-width: 900px;
        margin: 30px;
        align-self: center;
        box-shadow: 2px 4px 15px 1px #2b2d42;   
    }

    .direccion {
        font-family:menu;
        font-size: 1.5rem;
        margin: 30px;
        line-height: 40px;
        font-weight: bold;
        color: #2b2d42;
        text-align: center;
    }
    
    
    
}

}


@include desktop {

    .showroom {
        font-family: minusculabold;
        font-size: 2rem;
        letter-spacing: 2px;
        text-align: center;
        

   }


    .textContainer {
         background-color:$darkblue;
         color:$white;
         align-self: center;

         .showroom__text {
            font-size: 1.5rem;
            margin: 20px;
            
            
         }

         
         
    }


    .gps {
        
         box-shadow: 2px 4px 15px 1px $darkblue;
         
    }

    .showroomImage {
        display: none;
        
    }


}