@include mobile {

main {
    .nosotros {
        font-family: Minusculabold;
        padding: 5px;
        background-image: $gradientright;
        color: $white;
        text-align: center;
        border-bottom: $white solid 1px;
   } 

   .mainContainer {
    display: flex;
    flex-direction: column;
    background-color: $darkblue;
    color: $white;
    text-align: center;

    .subtitle {
        font-family: minusculabold;
            padding: 20px;
        }

    .shopButton {
        width: 400px;
        height: 50px;
        align-self: center;
        margin-top: 30px;
        margin-bottom: 50px;
        background-image: linear-gradient(to bottom , $darkblue, $red);
        border: none;
        color: $white;
        font-weight: bolder;
        transition-property: all;
        transition-duration: 2s;

       
               
       }   
       
       .text {
        font-family: minusculalight;
        font-size: 1.1rem;
        width: 60vw;
        align-self: center;
        text-align:justify;
        padding-bottom: 30px;
        
   }  

    
}
}

}

@include desktop {

main {

    .nosotros {
        font-size: 2rem;
   }

    .mainContainer {
        
       .subtitle {
            font-size: 1.5rem;
            width: 50vw;
            align-self: center;
       }
   
       .shopButton {
            width: 600px;
            height: 50px;

            &:hover {
                transform: scale(110%);
            }
       }
   
       .text {
            width: 30vw;
            font-size: 1.4rem;
       }
    }
}


    
}